.searchResult {
  display: flex;
  position: relative;
  margin: 20px;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  cursor: pointer;
}

.searchResult:hover {
  opacity: 0.8;
  /* this effect looks great! */
}

.searchResult > img {
  height: 200px;
  width: 350px;
  border-radius: 10px;
  overflow: hidden;
  /* this effect looks great, with image it 
  keep the text in the other div more show and pic looks full but smaller!
  don't know why it does that ??? */
}

.searchResult__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 20px;
}

.searchResult__heart {
  position: absolute;
  top: 20px;
  right: 40px;
  /* this is very important!
  the heart will stick to the position of top 20px and right 40px because of absolute here and relative for the parent container */
}

.searchResult__infoTop {
  width: 40vw;
}

.searchResult__infoTop > h3 {
  font-weight: 300;
  margin-top: 10px;
}

.searchResult__infoTop > p {
  margin-top: 10px;
  font-size: 13px;
  color: gray;
}

.searchResult__infoBottom {
  display: flex;
  justify-content: space-between;
}

.searchResult__starIcon {
  color: red;
}

.searchResult__star {
  display: flex;
  align-items: center;
}

.searchResults__price > p {
  text-align: right;
}
.searchResults__price {
  position: absolute;
  bottom: 20px;
  right: 30px;
}
